{% extends "zola-grayscale/templates/index.html" %}

{% block extra_head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">
{% endblock extra_head %}

{% block masthead_button_label %}
Conocenos
{% endblock masthead_button_label %}

{% block about_title %}
Mas de 20 años de experiencia nos respaldan
{% endblock about_title %}

{% block about_description %}
Contamos con mas de 20 años de experiencia en la industria de estructuras.
{% endblock about_description %}

{% block feature_project_title %}
Pistas
{% endblock feature_project_title %}

{% block project_1_title %}
Carpas
{% endblock project_1_title %}

{% block project_2_title %}
Estructuras
{% endblock project_2_title %}

{% block signup_icon %}
fa-regular fa-handshake
{% endblock signup_icon %}

{% block signup_title %}
Solicita una cotización sin compromiso
{% endblock signup_title %}